@font-face {
    font-family: 'RetroGaming';
    src: url(src/RetroGaming.ttf);
}

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'RetroGaming';
}

.welcome_col
{
    float: left;
    width: 50%;
    height: 92vh;
    padding: 21vh 0px 0px 10vh;
}

.welcome_col h1
{
    font-size: 50px;
}

img
{
    width: 500px;
    height: 500px;
}